{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "./config/webpack.config.runtime.js",
            "verbose": false
          }
        ],
        [
          "module-resolver", {
            "root": ["./src"]
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "transform-runtime",
        ["react-transform", {
          "transforms": [{
            "transform" : "react-transform-hmr",
            "imports"   : ["react"],
            "locals"    : ["module"]
          }]
        }]
      ]
    }
  }
}