@import '../../theme'

body
  margin: 0

.app
  font-family: $font-family-main
  color: $font-color-main
  background: url('../../assets/skulls.png') repeat
  min-height: 100vh
  display: flex
  align-items: center
  flex-direction: column
  padding-top: 50px



.row
  margin-bottom: 20px
