.multiplier
  cursor: pointer
  padding: 8px

.notifier
  cursor: default
  padding: 8px

.appear
  position: relative
  bottom: 10px
  opacity: 0

.appear.appearActive
  transition: all 250ms ease
  bottom: 0px
  opacity: 1
